

<section class="text-center pb-3" id="portfolio">
  <div class="container-fluid">
    <div class="row justify-content-center" data-zanim-timeline="{}">
      <div class="col-12 mb-4">
        <div class="overflow-hidden">
          <h2 class="fs-md-5 mb-2" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0}"
            style="transform: translate(0px, 0px); opacity: 1;">recent projects</h2>
        </div>
        <div class="overflow-hidden">
          <p class="fs--1 text-uppercase text-black ls-1 mb-0"
            data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.1}"
            style="transform: translate(0px, 0px); opacity: 1;">A portfolio of meaningful work</p>
        </div>
        <div class="overflow-hidden">
          <hr class="hr-short bg-black opacity-100" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.2}"
            style="transform: translate(0px, 0px); opacity: 1;">
        </div>
      </div>
    </div>
    <div class="row g-3 mt-3" data-rp-isotope="{&quot;layoutMode&quot;:&quot;packery&quot;}"
      style="position: relative; height: 1305.62px;">
      @for (project of projects; track project.id) {
      <div class="col-sm-6 col-lg-4 px-2 isotope-item design" data-zanim-xs="{&quot;delay&quot;:0}"
        style="visibility: visible; position: absolute; left: 0px; top: 0px;">
        <div class="hoverdir-item my-0"
          data-zanim-xs="{&quot;duration&quot;:1.5,&quot;animation&quot;:&quot;zoom-in&quot;,&quot;delay&quot;:0}">
          <div class="hoverdir-item-content" data-hoverdir="[object Object]">
            <a class="d-block" href="../pages/work-single.html">
              <img class="img-fluid rounded" [src]="project.image || 'https://placehold.co/600x400?text=Project'" [alt]="project.title">
              <div class="hoverdir-text" style="transform: translateY(0px) translateX(100%); transition: 300ms;">
                <h3 class="text-white lh-1 fs-2">{{ project.title }}</h3>
                <p class="ls-1 mb-0 text-700">{{ project.short_description }}</p>
              </div>
            </a></div>
        </div>
      </div>
    }
    </div>
  </div><!-- end of .container-->
</section>