<section class="text-center" id="solutions">
  <div class="container">
    <div class="row mb-4" data-zanim-timeline="{}">
      <div class="col">
        <div class="overflow-hidden">
          <h2 class="fs-md-5" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0}"
            style="transform: translate(0px, 0px); opacity: 1;">Our solutions</h2>
        </div>
        <div class="overflow-hidden">
          <p class="fs--1 text-uppercase text-black ls-1 mb-0"
            data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.1}"
            style="transform: translate(0px, 0px); opacity: 1;">Focused offerings for ambitious teams
          </p>
        </div>
        <div class="overflow-hidden">
          <hr class="hr-short bg-black opacity-100" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:0.2}"
            style="transform: translate(0px, 0px); opacity: 1;">
        </div>
      </div>
    </div>
    <div class="row">
      @for (solution of solutions; track solution.id) {
      <div class="col-sm-6 col-lg-4 mb-3" data-zanim-timeline="{}">
        <div class="overflow-hidden">
          <div class="service-item p-3 p-md-4 h-100">
            <div class="overflow-hidden">
              <div class="px-4 icon-circle" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:&quot;0&quot;}"
                style="transform: translate(0px, 0px); opacity: 1;">
                <span class="{{ solution.icon || 'fas fa-lightbulb' }}"></span>
              </div>
            </div>
            <div class="overflow-hidden">
              <h5 class="fw-normal ls-3 mb-2"
                data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:&quot;0.1&quot;}"
                style="transform: translate(0px, 0px); opacity: 1;">{{ solution.title }}</h5>
            </div>
            <div class="overflow-hidden">
              <p class="fw-normal" data-zanim-xs="{&quot;duration&quot;:1.5,&quot;delay&quot;:&quot;0.2&quot;}"
                style="transform: translate(0px, 0px); opacity: 1;">{{ solution.description }}</p>
            </div>
            @if (solution.button_text) {
            <a class="btn btn-outline-dark btn-sm" [routerLink]="solution.button_url || '/contact'">{{ solution.button_text }}</a>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div><!-- end of .container-->
</section>